/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* skills */
.border-black {
    border: 1px dashed black;
}

.border-red {
    border: 1px dashed red;
}

:root {
    /* ? colors */

    --bg-dark-blu: #141922;
    --black: #000000;
    --black-transparent: rgba(0, 0, 0, 0.4);
    --dark-gray: #282828;
    --text: #EDEEED;
    --text-light: #FFFFFF;
}

/* generics */
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}

img {
    max-width: 100%;

}

li {
    list-style: none;

}

/* utils */
.container {
    max-width: 600px;
    margin: 0 auto;

}

/* * LAYOUT */
.upper-content {
    height: calc(100vh - 100px);
    background-color: blue;
    overflow-y: auto;
    display: flex;
}

footer {
    height: 100px;
    background-color: var(--dark-gray);

}


/* ! PRIMA PARTE/UPPER-CONTENT */

/* SIDEBAR */

.sidebar {
    flex: 0 0 50px;
    background-color: var(--black);
    /* todo  */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sidebar-menu ul {
    margin: 0.6rem auto;

}

.sidebar-menu .logo-small,
img {
    height: 20px;
    width: 100%;
    margin: 3px auto;
}

.logo-hidden {
    display: none;
}

.sidebar-menu-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    opacity: 0.5;
    justify-content: space-between;

}

.sidebar-menu-list li:hover {
    border-left: 1px solid lightgreen;
    cursor: pointer;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px white;
}

.sb-menu-up span {
    color: var(--text-light);
    font-size: 11px;
    padding: 0.3rem;
    display: none;
}

.sb-menu-up {
    ;

}


.sb-menu-up li {
    margin: 3px auto;
}

.sidebar-list-hidden {
    overflow: auto;
    display: none;

}

.sidebar-list-hidden li {
    font-size: 12px;
    margin: 1rem auto;
    font-weight: lighter;
    color: lightgray;

}

.sidebar-list-hidden h3 {
    margin-left: 0.6rem;
    font-size: 15px;
    margin-top: 1rem;
}

.name-playlist {
    overflow: auto;
}



.sb-menu-down li {
    margin: 5px auto;
}

.sb-menu-down span {
    font-size: 10px;
    margin-left: 2px;
}

.sb-menu-down hr {
    margin: 6px 25px;
}

.sb-menu-down .profile {
    background-color: gray;
    border-radius: 50%;

}



/* MAIN */
main {
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: var(--bg-dark-blu);
    padding-top: 100px;
}

/* MAIN-HEADER */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 50px);
    background-color: var(--black-transparent);
    height: 80px;

}

.header-menu {
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
}

.header-button {
    align-items: center;
}

.header-button button {
    background-color: var(--black-transparent);
    color: var(--text);
    border: 1px solid var(--text);
    padding: 0.8rem 2rem;
    border-radius: 25px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.header-button button:hover {
    transform: scale(1.1);
}

/* MAIN-CONTENT */
.main-navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.main-navbar a {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}

.main-navbar li {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 11px;
}

.main-navbar li:hover {
    color: white;
    text-shadow: 0px 0px 30px #f4f4f4;
    border-bottom: 1px solid lightgreen;
}

/* MAIN ALBUM */
.main-album {
    margin-left: 1rem;
}

.main-album .row {
    display: flex;
    flex-wrap: wrap;

}

.col {
    flex-basis: 50%;
    min-height: 100%;
    width: 100%;
    padding: 6px;
}


.main-album .card img {
    height: 240px;
    width: 100%;

}

.main-album h2,
h6 {
    margin: 1rem auto;
    margin-left: 0.5rem;

}

.card-text {
    text-align: center;
    line-height: 2rem;

}

.card-text h5 {
    font-weight: lighter;

}

.main-album h6 {
    margin-left: 1rem;
    font-weight: lighter;

}

.main-album .circle {
    border-radius: 50%;
}



/* todo: prova hover */
/* .card:hover .overlayer {
    visibility: visible;
}

.card .overlayer {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    visibility: hidden;
}

.overlayer .fa-play-circle {
    color: #fff;
    font-size: 73px;
    margin-top: 53px;
    transition: 100ms ease-in-out;
}

.fa-play-circle:hover {
    transform: scale(1.1);
} */


/* ! FOOTER */



/* ? M.Q. TABLET */
@media screen and (min-width: 576px) {
    .sidebar {
        flex-basis: 180px;
    }

    header {
        width: calc(100% - 180px);
    }

    .logo-hidden {
        display: block;
    }

    .sidebar .logo-hidden img {

        margin-top: 0.6rem;
        margin-bottom: 1rem;
        height: 34px;
        width: 80%;
        margin-left: 0rem;
    }

    .sidebar .logo-small {
        display: none;
    }

    .sidebar .logo-small,
    img {
        margin: 0 auto;
        width: auto;

    }

    .sidebar li {
        padding-left: 0.6rem;
    }

    .sidebar-menu-list {}

    .sb-menu-up span {
        display: inline-block;
    }

    .sidebar-list-hidden {
        overflow-y: auto;
        display: block;
    }

    .col {
        flex-basis: calc(100% / 4);
    }

    .main-album .card img {
        height: 100%;
        width: 100%;
    }





    /* ? M.Q. DESKTOP */
    @media screen and (min-width: 1200px) {
        .col {
            flex-basis: calc(100% / 6);
        }
    }