/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* skills */
.border-black {
    border: 1px dashed black;
}

.border-red {
    border: 1px dashed red;
}

:root {
    /* ? colors */

    --bg-dark-blu: #141922;
    --black: #000000;
    --black-transparent: rgba(0, 0, 0, 0.4);
    --dark-gray: #282828;
    --text: #EDEEED;
    --text-light: #FFFFFF;
}

/* generics */
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}

img {
    max-width: 100%;

}

li {
    list-style: none;

}

.d-flex {
    display: flex;
}

/* utils */
.container {
    max-width: 600px;
    margin: 0 auto;

}

/* * LAYOUT */
.upper-content {
    height: calc(100vh - 100px);
    background-color: blue;
    overflow-y: auto;
    display: flex;
}

footer {
    height: 100px;
    background-color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    padding: 15px;

}

footer .left-view,
.right-volume {

    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 25%;
}


footer .left-view {
    display: flex;
    gap: 5px;
}

footer .left-title {
    width: 50%;
}

footer .left-img,
.left-icon {
    width: 25%;
}

footer .left-title {
    font-size: 10px;
}

footer .left-title h5 {
    opacity: 0.6;
}

footer .left-icon a {
    text-decoration: none;
    color: var(--text);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 3px;

}

footer .left-icon a:hover .fa-heart {
    color: red;
    transform: scale(1.1);
}

footer .left-icon a:hover .fa-folder {
    text-shadow: 0 0 5px white;
    transform: scale(1.1);
}

/* footer .left-img:hover img {
    box-shadow: 0 0 5px white;
    transform: scale(1.3);
} */


footer img {
    height: 50%;
    width: 100%;
    flex-basis: 25%;
    cursor: pointer;
}

footer .player {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.player-controls i {
    margin: auto 5px;
    font-size: 20px;
}

.player-controls .fa-circle-play {
    font-size: 35px;
    margin: auto 1rem;

}

.player .player-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.player-time .player-min {
    font-size: 8px;
    opacity: 0.5;
}

.player .player-progress {
    height: 2px;
    background-color: var(--text);
    opacity: 0.5;
    width: 80%;
    cursor: pointer;
    position: relative;
}

.player .player-progress .value {
    position: absolute;
    width: 20%;
    top: 0;
    height: 100%;
    background-color: lightgreen;
}

.player .player-progress:hover .value {
    box-shadow: 0 0 10px lightgreen;
    transform: scale(1.1);
}

.player-controls i:hover {
    text-shadow: 0 0 5px white;
    transform: scale(1.3);
    cursor: pointer;
}


footer .right-volume {
    display: flex;
    flex-direction: row;
    height: 100%;

}

.toggle {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
    flex-basis: 50%;
    justify-content: flex-start;
}

.toggle i {
    font-size: 14px;
}

.right-volume i:hover {
    text-shadow: 0 0 5px white;
    transform: scale(1.3);
    cursor: pointer;
}

/* prova prova prova */
.right-volume .volume-control {
    flex-basis: 50%;
}

.right-volume .player-progress {
    height: 2px;
    background-color: var(--text);
    opacity: 0.5;
    width: 90%;
    cursor: pointer;
    position: relative;
}

.right-volume .player-progress .value {
    position: absolute;
    width: 50%;
    top: 0;
    height: 100%;
    background-color: lightgreen;
}

.right-volume .player-progress:hover .value {
    box-shadow: 0 0 10px lightgreen;
    transform: scale(1.1);
}

.player-controls i:hover {
    text-shadow: 0 0 5px white;
    transform: scale(1.3);
    cursor: pointer;
}






/* ! PRIMA PARTE/UPPER-CONTENT */

/* SIDEBAR */

.sidebar {
    flex: 0 0 50px;
    background-color: var(--black);
    /* todo  */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sidebar-menu ul {
    margin: 0.6rem auto;

}

.sidebar-menu .logo-small,
img {
    height: 20px;
    width: 100%;
    margin: 3px auto;
}

.logo-hidden {
    display: none;
}

.sidebar-menu-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    opacity: 0.5;
    justify-content: space-between;

}

.sidebar-menu-list li:hover {
    border-left: 1px solid lightgreen;
    cursor: pointer;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px white;
}

.sb-menu-up span {
    color: var(--text-light);
    font-size: 11px;
    padding: 0.3rem;
    display: none;
}

.sb-menu-up {}


.sb-menu-up li {
    margin: 3px auto;
}

.sidebar-list-hidden {
    overflow: auto;
    display: none;

}

.sidebar-list-hidden li {
    font-size: 12px;
    margin: 1rem auto;
    font-weight: lighter;
    color: lightgray;

}

.sidebar-list-hidden h3 {
    margin-left: 0.6rem;
    font-size: 15px;
    margin-top: 1rem;
}

/* .name-playlist {
    overflow: auto;
} */



.sb-menu-down li {
    margin: 5px auto;
}

.sb-menu-down span {
    font-size: 10px;
    margin-left: 2px;


}

.sb-menu-down hr {
    margin: 6px 7px;
    display: none;
    opacity: 0.7;
}

.sb-menu-down span {
    display: none;
}


/* MAIN */

main {
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: var(--bg-dark-blu);
    padding-top: 100px;
}

/* MAIN-HEADER */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 50px);
    background-color: var(--black-transparent);
    height: 80px;
    z-index: 1;

}

.header-menu {
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
}

.header-button {
    align-items: center;
}

.header-button button {
    background-color: var(--black-transparent);
    color: var(--text);
    border: 1px solid var(--text);
    padding: 0.8rem 2rem;
    border-radius: 25px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.header-button button:hover {
    transform: scale(1.1);
}

/* MAIN-CONTENT */
.main-navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.main-navbar a {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}

.main-navbar li {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 11px;
}

/* .main-navbar li:hover {
    color: white;
    text-shadow: 0px 0px 30px #f4f4f4;
    border-bottom: 1px solid lightgreen;
} */

/************* prova*************** */
.main-navbar li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    text-shadow: 0 0 30px white;
    border-bottom: 1px solid lightgreen;
    transition: width .3s;
}

.main-navbar li:hover::after {
    width: 100%;
    transition: width .3s;
}



/* MAIN ALBUM */
.main-album {
    margin-left: 1rem;
}

.main-album .row {
    display: flex;
    flex-wrap: wrap;

}

.col {
    flex-basis: 50%;
    min-height: 100%;
    width: 100%;
    padding: 6px;
}


.main-album .card img {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.6s;


}

.main-album h2,
h6 {
    margin: 1rem auto;
    margin-left: 0.5rem;

}

.main-album .card {
    cursor: pointer;

}

.main-album img {
    display: block;
}

.main-album .card:hover .card-img {
    transform: scale(1.05)translateY(-10px);

}

.main-album .card:hover .card-img::after {
    content: '\f144';
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 5px white;
    font-family: "font awesome 6 free";
    font-size: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

/* .main-album .card-img:hover .circle::after {
    border-radius: 50%;

} */

.card-text {
    text-align: center;
    line-height: 2rem;

}

.card-text h5 {
    font-weight: lighter;

}

.main-album h6 {
    margin-left: 0.5rem;
    font-weight: lighter;

}

.main-album .circle {
    border-radius: 50%;
}



/* todo: prova hover */



/* ! FOOTER */



/* ? M.Q. TABLET */
@media screen and (min-width: 576px) {
    .sidebar {
        flex-basis: 180px;
    }

    header {
        width: calc(100% - 180px);
    }

    .logo-hidden {
        display: block;
    }

    .sidebar .logo-hidden img {

        margin-top: 0.6rem;
        margin-bottom: 1rem;
        height: 34px;
        width: 80%;
        margin-left: 0rem;
    }

    .sidebar .logo-small {
        display: none;
    }

    .sidebar .logo-small,
    img {
        margin: 0 auto;
        width: auto;

    }

    .sidebar li {
        padding-left: 0.6rem;
    }

    .sidebar-menu-list {}

    .sb-menu-up span {
        display: inline-block;
    }

    .sidebar-list-hidden {
        overflow-y: auto;
        display: block;
    }

    .col {
        flex-basis: calc(100% / 4);
    }

    .main-album .card img {
        height: 100%;
        width: 100%;
    }

    .sb-menu-down span {
        display: inline-block;
    }

    .sb-menu-down .profile {
        background-color: gray;
        border-radius: 50%;
    }

    .sb-menu-down hr {
        display: block;
    }

    footer .left-view,
    .right-volume {
        width: 180px;
    }

    footer .player {
        width: 50%;
    }

    footer .left-icon a {
        font-size: 18px;
        display: inline;
    }







    /* ? M.Q. DESKTOP */
    @media screen and (min-width: 1200px) {
        .col {
            flex-basis: calc(100% / 6);
        }
    }